@using Microsoft.AspNetCore.Http

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Usuario</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="card card-body bg-dark text-white">
            <div class="row">
                <div class="col-md-6">
                    <h4>Login de Usuários</h4>
                    <p>Sistema para cadastro e autenticação de usuários</p>
                </div>
                <div class="col-md-6">
                    @if(User.Identity.IsAuthenticated)
                    {
                        <div class="row">
                            <div class="col-md-3 text-right">
                                <img src="@Context.Session.GetString("Foto")" class="rounded" width="60"/>
                            </div>
                            <div class="col-md-5">
                                <strong>@Context.Session.GetString("Nome")</strong>
                                <br />
                                <small>@Context.Session.GetString("Email")</small>
                                <br />
                                <small>Perfil: <strong>@Context.Session.GetString("Perfil")</strong></small>
                            </div>
                            <div class="col-md-4">
                                <br />
                                <a href="/Usuario/Logout" class="btn btn-danger btn-sm">Sair do Sistema</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            
        </div>
        <br />

        @RenderBody()

    </div>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
</body>
</html>
